@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&family=Rubik+Mono+One&display=swap');

.container-home {
    max-width: 1240px;
    margin: auto;
    margin-top:50px;
    margin-bottom: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.text-content{
    color: var(--textColor2);
    max-width: 600px;
    padding: 20px;
}

.text-content h1 svg{
    font-size: 4rem;
}

.text-content h1{
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 70px;
    text-align: center;
    margin-bottom: 50px;
}

.avatar {
    padding: 20px;
    margin-left: 30px;
}

.avatar img{
    width: 480px;
}
