@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&family=Rubik+Mono+One&display=swap');

.divise {
    border-top: 1px solid #fff;
}

.container-footer {
    max-width: 1240px;
    margin: auto;
    box-sizing: border-box;
    padding: 30px;
    color: var(--textColor2);
    font-family: 'Roboto';
}

.container-up {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 400;
}

.container-up h4{
    font-size: 25px;
    margin-bottom: 20px;
}

.container-logo svg {
    margin-right: 10px;
    vertical-align: middle;
}

.container-logo p {
    font-size: 18px;
}

.container-media a {
    margin: 0;
    margin-right: 15px;
    text-decoration: none;
    color: var(--textColor2);
}

.container-media a:hover {
    color: var(--btnlink);
}

.container-media svg {
    font-size: 22px;
}

.container-copy{
    text-align: center;
    margin: 0px;
    margin-top: 30px;
    font-size: 16px;
}