@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Nunito:ital,wght@0,200;0,400;0,500;0,600;1,400;1,500;1,600;1,800;1,1000&family=Pacifico&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700;1,900&family=Titillium+Web:ital,wght@1,200&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 1240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 67px;
    padding: 0 2rem;
    margin: auto;
    color: var(--textNav);
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 3px;
    font-family:'Roboto';
    font-weight: 900;
    text-decoration: none;
}

h3 {
   color: #DF2935;
}

span{
    color: #DF2935;
}

a{
    margin: 0 2rem;
    color: var(--textColor2);
    text-decoration: none;
    cursor: pointer;
}

nav a:hover{
    color: var(--btnlink);
}


