@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&family=Rubik+Mono+One&display=swap');
.container-page {
    max-width: 1240px;
    height: fit-content;
    margin: auto;
    padding: 30px;
    margin-bottom: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.container-solution {
    width: 50vw ;
    height: 50vh;
    background-color: #142246;
    border: 3px solid #ffffff;
    border-radius: 20px;
    text-align: center;
    box-sizing: border-box;
    padding: 30px;
    color: var(--textColor2);
    font-family: 'Rubik Mono One', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-content: center;
    list-style: none;
}


.container-solution button{
    min-width: 150px;
    max-width: 350px;
    height: 40px;
    border: 2px solid ;
    border-radius: 44px;
    padding: 8px;
    color: var(--textColor2);
    -webkit-text-stroke-color: var(--bgColor);
    -webkit-text-stroke-width: 1px;
    background-color: var(--badgeColor);
    margin-top: 20px;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}

.container-question {
    width: 50vw ;
    height: fit-content;
    font-family: 'Rubik Mono One', sans-serif;
    box-sizing: border-box;

}

.container-question h2 {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 25px;
    letter-spacing: 5px;
    color: #FDCA40;
    margin-bottom: 20px;
}

.container-question p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    letter-spacing: 3px;
    color: var(--textColor2);
    margin-bottom: 25px;
}

.container-question img{
    border-radius: 20px;
    max-width: 83%;
    max-height: 48%;
}

.container-question img:hover{
    transition: all 0.5s;
    box-shadow: 2px 2px 20px black;
}


