@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&family=Rubik+Mono+One&display=swap');
.container-page {
    max-width: 1240px;
    max-height: 700px;
    margin: auto;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 115px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 50px;
}

.container-solution {
    width: 600px;
    height: 600px;
    background-color: #142246;
    border: 3px solid #ffffff;
    border-radius: 20px;
    text-align: center;
    box-sizing: border-box;
    padding: 30px;
    color: var(--textColor2);
    font-family: 'Rubik Mono One', sans-serif;
    display: flex;
    flex-direction: column;
}

.exe-content {
    display: flex;
    height: 300px;
    justify-content: center;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



.container-solution button{
    min-width: 150px;
    height: 40px;
    border: 2px solid ;
    border-radius: 44px;
    padding: 8px;
    color: var(--textColor2);
    -webkit-text-stroke-color: var(--bgColor);
    -webkit-text-stroke-width: 1px;
    background-color: #DF2935;
    margin-top: 20px;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}

.container-question {
    width: 600px;
    height: 570px;
    font-family: 'Rubik Mono One', sans-serif;
    padding: 30px;
    box-sizing: border-box;
}

.container-question h1 {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 30px;
    letter-spacing: 5px;
    color: #FDCA40;
    margin-bottom: 30px;
}

.container-question p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    color: var(--textColor2);
    margin-bottom: 50px;
}

.container-question img{
    border-radius: 20px;
    width: 90%;
}


h1 svg {
    font-size: 30px;
    margin-right: 10px;
}